{{ define "main" }}
	<h2>{{ .Title }}</h2>

	{{ .Content }}
<b>Speaking Experience</b><br/>
	
	Urban Librarians Conference 2017 – Dangerous Librarianship		
	Damn the Man – Protecting Library Privacy
	<br/>
	New Jersey Library Association Annual Conference			
	The Importance of HTTPS with Let’s Encrypt
	Privacy for Librarians: What You Can Do to Protect Yourself Online
	<br/>
Library2.0									 
	Tor Relays using Raspberry Pi

	LITA Forum 2017								
The State of HTTPS in Libraries	
	
New Jersey Library Association Annual Conference				  
Is Your Meeting Room Policy Problematic 
						
	LITA Forum 2018
Neutrality and Digital Architecture 							

<br/><br/>
<b>Publications</b>
<br/>
	The State Of HTTPS in Libraries							
	Intellectual Freedom Blog
<br/>
	Dispositif: Or Subjectivity and Neutrality in Libraries			
	Political Librarian
<br/>	
	Neutrality and Algorithms in Libraries						
	Journal of Intellectual Freedom and Privacy
<br/>
	On Educating Patrons On Privacy And Maximizing Library Resources
	Information Technology and Libraries
<br/><br/>
<b>Projects:</b>
	<br/>
	Glass Room Experience For Libraries	<br/>                
	Tactical Technologies, Library Freedom Project, Mozilla Foundation, Tor Project
{{ end }}
